body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  padding: 2vh;
  background-color: antiquewhite;
}

.auth-reg{
  width: fit-content;
  border: solid black 2px;
  border-radius: 10px;
  padding: 2vh;
  background-color: white;
  
  button{
    margin: 2px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
  }
  
  input{
    margin: 2px;
    border-radius: 5px;
  }
  
  .toReg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .toAuth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .regContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}

.container{

}



